.btn.app-list-item-add-btn {
    background-color: #fff;
    margin-top: -5px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.app-list-item-add-input {
    margin-top: -5px;
    margin-bottom: 4px;
    margin-right: 5px;
}

.app-list-item-add-form {

}
